body {
  font-family:'Freckle Face' ;
  text-align: center;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


h1{
  margin-top: 45px;
  font-size: 40px;
  color: #4C6658;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.sqr {
  width: 40px;
  height: 40px;
  background-color: #BF9765;
  border: 1px solid #85673F;
  cursor: pointer;
}

.sqr.hit {
  background-color: #B4E5A2;
}

.sqr.miss {
  background-color: #f4f3f3;
}

.sqr.sunk {
  background-color: #ebddab;
}

#restart-btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #678E79;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  font-family:'Freckle Face' ;

}

#restart-btn:hover {
  background-color: #79a68e;

}